@media screen  and (min-width: 880px){
		.slide1, .slide3{
			position: relative;
			background-position: center;
			background-repeat: no-repeat;
			background-size: auto;
			background-attachment: fixed;
			opacity: .7
		}

		.slide1{
			background-image: url(https://i.imgur.com/ZsaGUlJ.jpg?1);
			height: 500px;
			width: 75%;
			padding-left: 25%;
		}
		.slide2{
			text-align: center;
			width: 100%;
			
		}
		.slide3{
			background-image: url(https://i.imgur.com/i3mirpl.jpg?1);
			height: 500px;
			width: 75%;
			padding-left: 25%;
		}
		
	}